<div class="inputComponentDiv">
  <input class="todo-input" #inputElementRef [value]="title" (keyup.enter)="submitValue($event.target.value)" placeholder="New Cool Task Here"/>
​  <button class="btn" (click)="submitValue(inputElementRef.value)">Save</button>
</div>
