<div class="row todo-item">
  <div class="col-2" cdkDragHandle>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
      <path d="M9 3L7.94 4.06l4.19 4.19H3v1.5h9.13l-4.19 4.19L9 15l6-6z"/>
    </svg>
  </div>
  <input type="checkbox" class="col-1 todo-checkbox" (click)="completeItem()"/>
  <span class="col-6 todo-title" [ngClass]="{'todo-complete': item.completed}">
    {{ item.title }}
  </span>
  <button class="col-3 btn btn-red" (click)="removeItem()">
      Remove
  </button>
</div>
