<div class="mainDiv">
  <app-input-button-unit (submit)="addItem($event)">Placeholder for Input div</app-input-button-unit>
  <div class="todo-app">
    <ul cdkDropList (cdkDropListDropped)="drop($event)">
      <li *ngFor="let item of todoList" cdkDrag>
        <app-todo-item [item]="item" (remove)="removeItem($event)" (update)="updateItem($event.item, $event.changes)"></app-todo-item>
      </li>
    </ul>
  </div>
</div>
